html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/** end of CSS Reset **/

h1{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

table{
  border-spacing: 0px;
  overflow-y: scroll;
}

th{
  padding: 0px 28px;
  border-right-width: 0.5px;
}

th:last-child{
  border-right-width: 1px;
}

td{
  text-overflow: ellipsis;
  padding: 6px;
  white-space: nowrap;
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
 }

/* width */
::-webkit-scrollbar {
  width: 15px;
}



/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c60a0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c60a0;
}

/** HOTFIXES ADDED IN BY VELTSON: **/

a.dropdown-toggle.nav-link {
    display: inline-flex;
		flex-direction: row-reverse;
		color: #fff
}

img.ml-2 {
    margin-left: 0px;
    margin-top: 3px;
    border-radius: 2px;
    margin-right: 10px;
}

a.text-danger.dropdown-item {
    color: #eee;
    font-weight: 100;
    position: absolute;
    top: -5px;
    left: 35px;
}

.nav {
    margin-left: 30px;
    margin-top: 15px;
}

a.btn.btn-primary {
    color: #eee;
}
